

/*-----Main Properties----*/
html {
  background-image: url(/images/mountainbackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

em {
  color: orange;
}

strong {
  color: orange;
}

body {
  margin: 0;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: orange;
}

a:hover {
  color: rgb(136, 93, 13);
}

.titlegrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  height: 100%;
  animation: transitionIn 0.75s;
}

.title {
  position: relative;
}

.titletext {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 200;
  padding: 10px 100px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin: 30px auto 0;
}

/*---------HEADER BAR (NAV PANEL)---------*/
.top-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  place-content: space-between;
  align-items: center;
}
header {
  background: rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}
header::after {
  content: "";
  display: table;
  clear: both;
}
nav {
  text-align: center;
  float: left;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 20px;
  position: relative;
}
nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #c5c6c7;
  font-size: 25px;
}
nav a:hover {
  color: #45a29e;
}
nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #c5c6c7;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}
nav a:hover::before {
  width: 100%;
}
.mainhome {
  text-align: center;
  float: left;
  text-decoration: none;
  line-height: 1;
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 15px;
  padding-top: 5px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  color: #c5c6c7;
  vertical-align: bottom;
  transition: color 0.3s ease-out;
}
.mainhome::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translateY(calc(100% - 2px));
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    60deg,
    rgb(150, 156, 147) 0%,
    rgb(97, 138, 128) 100%
  );
  transition: transform 0.25s ease-out;
}
.mainhome:hover::before {
  transform: translateY(0);
  transition: transform 0.25s ease-out;
}
span {
  color: orange;
}
/*------------INDEX PAGE MAIN CONTENT AND GRAPHIC WORK-------------------*/
.glitch-text:hover {
  animation-delay: 0ms;
  animation: glitch 2000ms;
}
.glitch-text {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 150px;

  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 0, 255, 0.75),
    0.025em 0.05em 0 rgba(0, 255, 0, 0.75);
}
.glitch-text h1 {
  margin: 200px auto 0px;
  padding-right: 40px;

  animation: transitionIn 0.75s;
}
.subtext {
  margin: 0px auto;
}
.subtext h2 {
  border: 5px #c5c6c7 solid;

  text-align: center;
  font-size: 40px;
  color: white;
  text-transform: capitalize;
  font-weight: 800;
  margin: 250px 20px 0px auto;
  text-shadow: 0.06em 0 0 rgba(255, 0, 0, 0.75),
    -0.045em -0.06em 0 rgba(0, 0, 255, 0.75),
    0.045em 0.06em 0 rgba(0, 255, 0, 0.75);
  animation: transitionIn 0.75s;
}
.maincontent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  height: 100%;
  animation: transitionIn 0.75s;
}
@keyframes glitch {
  0%,
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 0, 255, 0.75),
      -0.025em 0.05em 0 rgba(0, 255, 0, 0.75);
  }
  15%,
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025 0 rgba(0, 0, 255, 0.75),
      -0.05em -0.05em 0 rgba(0, 255, 0, 0.75);
  }
  50%,
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 0, 255, 0.75), 0 -0.05em 0 rgba(0, 255, 0, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 0, 255, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75);
  }
}
/*----------------ABOUT ME CSS-------------------*/

.main {
  position: relative;
}

.maingrid {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-gap: 10px;
  height: 100%;
  animation: transitionIn 0.75s;
}

.background_info_container {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-right: 100px;
  margin-top: 70px;
  margin-bottom: 100px;
}

.personalimg img {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-left: 146px;
  margin-top: 20px;
}

.personalimg ul {
  list-style: none;
  color: orange;
  background: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-left: 100px;
  margin-top: 70px;
  width: 500px;
  margin-right: 0px;
  display: inline-block;
}

.personalimg h1 {
  display: inline-block;
  margin: 0;
  font-weight: 500;
  color: white;
  font-size: 25px;
}

/*------------IT INTEREST CSS----------------*/
.itquestion1 {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-left: 100px;
  margin-top: 70px;
}
.itq2 {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-right: 100px;
  margin-top: 70px;
  height: fit-content;
}
.itq3 {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-right: 100px;
  margin-top: 10px;
}

.itinterestmaingrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  height: 100%;
  animation: transitionIn 0.75s;
}

.itinterestmain {
  position: relative;
  margin-bottom: 100px;
}

/*---------IDEAL JOB CSS-------------------*/

.idealjobq1 {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-left: 100px;
  margin-top: 70px;
}
.idealjobq2 {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-left: 100px;
  margin-top: 10px;
}
.idealjobq3 {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-left: 100px;
  margin-top: 10px;
  height: fit-content;
}
.idealjobq4 {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-right: 100px;
  margin-top: 10px;
}

.jobpic {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-right: 0px;
  margin-top: 70px;
  margin-left: 70px;

  height: fit-content;
  width: fit-content;
}

.requirementpic {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-right: 0px;
  margin-top: 10px;

  height: fit-content;
  width: fit-content;
}

.idealjobmain {
  position: relative;
  margin-bottom: 100px;
}

.idealjobmaingrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  height: 100%;
  animation: transitionIn 0.75s;
}
/*-------------TESTING PROFILE CSS-----------*/
.myerbriggsresults {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-left: 100px;
  margin-top: 70px;
}
.onlinelearningresults {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-left: 100px;
  margin-top: 10px;
}
.discpersonalityresults {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-left: 100px;
  margin-top: 10px;
}
.resultsmeaning {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-left: 100px;
  margin-top: 10px;
}
.behaviourinfluence {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-right: 100px;
  margin-top: 10px;
}
.takeintoaccount {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-left: 100px;
  margin-top: 10px;
}

.testingprofile {
  position: relative;
  margin-bottom: 100px;
}

.testingprofilegrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  height: 100%;
  animation: transitionIn 0.75s;
}

.myerbriggspic {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-right: 0px;
  margin-top: 70px;
  margin-left: 100px;

  height: fit-content;
  width: fit-content;
}
.discpic {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;

  margin-top: 70px;
  margin-right: 100px;

  height: fit-content;
  width: fit-content;
}

.varkpic {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-right: 0px;
  margin-top: 10px;
  float: left;
  height: fit-content;
  width: fit-content;
}

.eduplanpic {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-right: 0px;
  margin-top: 10px;
  float: left;
  margin-left: 20px;

  width: fit-content;
}
/*-------------------------PROJECT CSS--------------------*/

.projectmain {
  position: relative;
}

.projectgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  height: 100%;
  animation: transitionIn 0.75s;
  margin-bottom: 100px;
  
}

.overview {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-left: 100px;
  margin-top: 70px;
}
.motivation {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-right: 100px;
  margin-top: 70px;
}
.description {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-left: 100px;
  margin-top: 10px;
}
.texttools {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-right: 100px;
  margin-top: 10px;
  height: fit-content;
}
.skillsreq {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-left: 100px;
  margin-top: 10px;
}
.outcome {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  font-weight: 200;
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-right: 100px;
  margin-top: 10px;
  height: fit-content;
}
.pic1 {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-right: 0px;
  margin-top: 40px;
  float: left;
  margin-left: 0px;

  width: fit-content;
}
.pic2 {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-color: orange;
  border-style: solid;
  border-width: thick;
  border-radius: 1em;
  margin-right: 0px;
  margin-top: 40px;
  float: left;
  margin-left: 0px;

  width: fit-content;
}








/*--------------PAGE TEXT LOAD ANIM-----------------*/

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    rotate: rotateX(0);
  }
}
